<!-- views/partials/btnUp.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Button Up</a></li>
        </ul>
    </nav>
    <input type="image" src="/img/up-chevron.png" />
</div>
