<div class="container">
<!-- button to go home -->
      <input type="image" src="/img/up-chevron.png" id="Page-Transition" class="btn btnUp" onClick="goFromTopToBottom(0)" width="50px"/> <!-- from top to bottom -->

</div>
