<!-- views/home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- TODO : create a stylesheet -->
</head>

<body>
    <div class="container">
      <div id="pt-main" class="pt-perspective">

        <!-- MAIN PAGE -->
      	<div class="pt-page pt-page-1">
      		<h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
          <p>Main page</p>
      	</div>

        <!-- UP Page -->
      	<div class="pt-page pt-page-2">
          <%- include('up') %>
        </div>

      	<!-- DOWN Page -->
        <div class="pt-page pt-page-3">
          <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
          <p>Down page</p>
        </div>

        <!-- LEFT Page -->
        <div class="pt-page pt-page-4">
          <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
          <p>Left page</p>
        </div>

        <!-- RIGHT Page -->
        <div class="pt-page pt-page-2">
          <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
          <p>Right page</p>
        </div>

      </div>
    </div>
</body>

</html>
