<h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
<p>Main page</p>
<button id="Page-Transition" class="btn" onClick="goFromTopToBottom(1)"> UP </button> <!-- from top to bottom -->
<button id="Page-Transition" class="btn" onClick="goFromBottomToTop(2)"> DOWN </button> <!-- from bottom to top -->
<button id="Page-Transition" class="btn" onClick="goFromLeftToRight(3)"> LEFT </button> <!-- from left to right -->
<button id="Page-Transition" class="btn" onClick="goFromRightToLeft(4)"> RIGHT </button> <!-- from right to left -->
