<!-- views/up.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>kikou</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/btnUp') %>
        <div>
            <h2>Salut</h2>
            <p>by <a href="#">pouet</a></p>

            <p>pouet</p>
            <hr>
        </div>
    </div>
</body>

</html>
